<body class="homepage">
<div class="home col-md-7 col-md-offset-2 text-center">
<h1 style="font-family: 'Elsie', cursive; font-size: 60px;">Welcome To Wine-O</h1>
<h5>online cellar management and label demystification</h5>

<% if collector_signed_in? %>
  
  <div class="home-buttons">
      <a href="<%= collector_path(current_collector) %>" type="button" class="btn btn-default">Manage Cellar</a>
    
      <a href="<%= wtf_path %>" type="button" class="btn btn-default">What The French?</a>
  </div>

<% else %>
    <div class="home-buttons">
      <a href="<%= wtf_path %>" type="button" class="btn btn-default">What The French?</a>
    </div>
  </div>
<% end %>
</div>
</div>
</body>

