
<div class="home col-md-7 col-md-offset-2 text-center">
<h1>Welcome To Wine-O</h1>
<h3>because wine is good</h3>

<% if collector_signed_in? %>
  
  <div class="row col-md-offset-3">
    <div class="col-md-4">
      <a href="<%= collector_path(current_collector) %>" type="button" class="btn btn-success btn-block">Manage Cellar</a>
    </div>
    <div class="col-md-4">
      <a href="<%= wtf_path %>" type="button" class="btn btn-danger btn-block">What The French?</a>
    </div>
  </div>

<% else %>
  
    <a href="<%= wtf_path %>" type="button" class="btn btn-danger">What The French?</a>
  </div>
<% end %>
</div>
</div>

