<div class="wtf col-md-6 col-md-offset-3">
  <h2>What The French?</h2>
  <h3>Because there's seriously no grape listed on the label</h3>
  <h4><%= @result %><h4>
  <a href="<%= wtf_path %>" type="button" class="btn btn-success btn-block">WTF again</a>
  <a href="<%= root_path %>" type="button" class="btn btn-success btn-block">Home</a>

</div>